body{
    background-color: grey;
    overflow: hidden;
}
h1{
   font-size: 2.2rem; 
}
p{
    font-size: 1.1rem;
}
.main{
    width: 65%;
    height: 90vh;
    margin: 2.4vh 16%;
    padding: 2%;
    display: inline-block;
    background-color: aliceblue;
    overflow: auto;

}
.header{
    text-align: center;
    padding: 5px;
}
.sectionLinks{

}