/* TEMPLATE STYLESHEET */

/* These are some suggested groupings for your stylesheet... */

/* Default styling styling for the body.
*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;  /* update with Google font, web safe font and generic fallback */
    font-size: 100%; /* the default browser font size is 16px */
    line-height: 1 ; /* update to suit your type choices */
    color: white;  /* base text colour - update to suit your design */
    background-color: #033538;
    width: 100%;
}

/* Default element re-sets  */

h1,
h2,
h3,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Improves default font styles for forms  */

input,
textarea {
    font-family: sans-serif; /* update with Google font, web safe font and generic fallback */
}

/* box sizing */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* flexible content images code */

img {
  max-width: 100%;
  height: auto;
}

/*element styling (e.g. standard p, h1, h2, a, etc) */

h1, h2 {
font-family: 'Staatliches', cursive;
padding: 4px 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 120%;
}
/*  Top Bytes*/

.parent{
  background-color: #f38a7e;
  width: 100%;
  height: auto;
  padding: 5px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}
.subbody{
  border-top: 20px;
}
/* navigation (using flexbox) */
nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;

}

nav ul li {
  flex: 1 1 25%;
  display: flex;
  list-style-type: none;
  padding: 2px;

}
nav ul li a {
    padding: 15px 10px;
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    transition: all 0.4s ease;
    color: white;
}
nav ul li a p{
  display: none;
}

nav ul :nth-child(1) a{
    background-image: url(../images/icons/navicons/about.png) ;
}
nav ul :nth-child(2) a{
    background-image: url(../images/icons/navicons/build.png) ;
}
nav ul :nth-child(3) a{
    background-image: url(../images/icons/navicons/images.png) ;
}
nav ul :nth-child(4) a{
    background-image: url(../images/icons/navicons/contact.png) ;
}
nav a {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  color: transparent;
}
/* page header and parallax*/
.page-header {
  background-image: url(../images/herogif.gif);
  background-blend-mode: exclusion;
  /*background-color: #056773 ;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 94vh;
  align-items: center;
  justify-content: center;
  /* Create the parallax scrolling effect */
  background-attachment: scroll;/*Get rid of parallax on mobile so inferior ios devices can work*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content{
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

}
.header-content p {
  font-size: 1.5rem;
  text-shadow: 0 0 80px red;
}

.header-content h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 0 red;
}

.socialmedia{
  text-align: center;
  width: 100%;
}

.socialmedia div{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

.socialmedia div#twitter{
  background-image:url(../images/icons/material/twitter.png);
}
.socialmedia div#twitter:hover{
  background-image: url(../images/icons/coloured/twitter.png);
}
.socialmedia div#insta{
  background-image:url(../images/icons/material/insta.png);
}
.socialmedia div#insta:hover{
  background-image: url(../images/icons/coloured/insta.png);
}
.socialmedia div#youtube{
  background-image:url(../images/icons/material/play.png);
}
.socialmedia div#youtube:hover{
  background-image: url(../images/icons/coloured/play.png);
}
.socialmedia div#github{
  background-image:url(../images/icons/material/github.png);
}
.socialmedia div#github:hover{
  background-image: url(../images/icons/coloured/github.png);
}

.socialmedia div:hover{
  transition: background-image 0.2s ease-in;
}

.scroll{
  height:70px;
  width: 70px;
  align-self: center;
  margin: 3% 0;  /* smaller number means its positioned higher and vice versa */
  -moz-animation: scroll 2s infinite;
  -webkit-animation: scroll 2s infinite;
  animation: scroll 2s infinite;
  
}
@keyframes scroll {
0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
}
40% {
  transform: translateY(-30px);
}
60% {
  transform: translateY(-15px);
}
}

/* main layout */
main{
  margin: 0 auto;
  width: 100%;
  /*padding-top: 112px;*/
  background-color: #033538;
}

/* styling for the section content */
section{
  padding: 20px 40px;
  background-color: #033538;/*FALLBACK : In case the gradients dont work on a certain browser*/
     
}

section h2{
  margin-bottom: 20px;
  text-align: right;
  padding: 17px 0;
  font-size: 29px;
}

/* background colours for sections */
section#about{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f38a7e), to(#212121));
}
section#build{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#212121), to(#033538));
}
section#images{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#033538), to(#212121));
}
section#contact{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#212121), to(#f38a7e));
}

/* image gallery media queries and size overrides */

section#images h2{
  padding-right: 40px;
}

.image-gallery{
  padding-left: 0;
  padding-right: 0;
  width: 100%;

}
.image-gallery .container-content{
  display: inline-block;  
  padding-left: 0;
}

.image-container{
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.an-image{
  /*display: inline-block;*/
  height: auto;
  width: 30%;
  margin-bottom: 5px;
  transition: all 0.7s ease;
}

.an-image img{
  border-radius: 7px;
}

.an-image:hover{
  width: 70%;
}

.image-caption p {
  font-size: 14px;
}

.image-info{
  font-size: 15px;
  text-align: center;
  margin-top: 15px;


}

/* form styling */
form {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
form label {
  display: block;
  /* instead of inline */
  padding-bottom: 0.2em;
  padding-top: 1em;
  font-size: 0.8em;
}

.js_availability{
  justify-content: center;
  width: 100%;
  display: flex;
}
.js_availability p{
  font-size: 18px;
  color: red;
  
}
.warning-text{
position: absolute;
position: -webkit-sticky;/*Used to be relative but it intefered with the nav bar.  
Sticky is less of a bug since it doesnt readjust the page but rather 
leaves a trail only when it is fully scrolled to the bottom of the page*/
-webkit-animation-name: warning; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
animation-name: warning;
animation-duration: 2s;
animation-iteration-count: infinite;

 
}
/* Safari 4.0 - 8.0 */

@-webkit-keyframes warning {
0%   { margin-left:0;}
50% { margin-left:40%;}
100% { margin-left: 0; }
}

@keyframes warning {
0%   { margin-left:0;}
50% { margin-left:40%;}
100% { margin-left: 0; }

}

form input,
form textarea {
  padding: 0.4em 0.3em;
  font-size: 0.7em;
  font-family: arial, helvetica, sans-serif;
  border: 1px inset #bbb;
  width: 100%;
  outline: none;
  color:white;
}
form input:focus, form textarea:focus{
  background-color: #f38a7e;
}
.stylish-input input ,.stylish-input textarea{ /*seperate so it doesnt affect the button*/
  border :none;
  background-color:inherit;
  border: 2px solid #033538;
  border-radius: 7px;
}
form .visibleSubmit {
  /* https://developer.mozilla.org/en/docs/Web/CSS/Attribute_selectors */
  /* if you used display:block; this would go right across the page - if you use inline-block the button will only be as wide as the text and the padding */
  min-width:0;
  /* turn off a minimum width for the button and let the browser work it out */
  background-color: #033538;
  border: 0;border-radius: 7px;
  width: 70%;
  padding: 13px 30px;
  margin: 10px 15% 0 15%;
  /* top and bottom, left and right */
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  transition: all 0.2s ease;
  /* less jarring transition from initial colour to hover colour */
}

form .visibleSubmit:hover {
  background-color: #f38a7e;
  color: #033538;
  /* you don't have to change the colour too much for hover states - just make it a little bit lighter or darker */
}

form input[type="submit"]{
  display:none;
}


/* footer */

footer{
  padding: 7px;
  background-color: #f38a7e;
  height: auto;
}

footer p {
  font-size: 18px;
  color: black;
  padding: 2px;
}

.footer-main{
  text-align: center;
}

.footer-content{
  text-align: center;
  width: 100%;
}

.footer-content p {
  font-size: 14px;
}

.footer-text a{
  text-decoration: none;

}

footer a:link {
  color: black;
}

footer a:visited {
  color: purple;
}

footer a:hover {
  color: white;
}

/*   media queries for desktop */

@media screen and (min-width: 760px) {
  .page-nav ul {
    flex-wrap: nowrap;
  }
  .page-nav li {
    flex: 1 1 25%;
  }

  nav ul li a {
    padding: 15px 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    transition: all 0.4s ease;
    color: black;
    background-image: none;
    background-blend-mode: luminosity;
    background-color: #f38a7e ;
    background-position: 80% 50% ;
  
  }

  nav ul li a p{
    display: block;
  }

  nav :nth-child(1) a:hover{
      background-image: url(../images/navart/fire/about.png) ;
  }
  nav  :nth-child(2) a:hover{
      background-image: url(../images/navart/fire/build.png) ;
  }
  nav  :nth-child(3) a:hover{
      background-image: url(../images/navart/fire/image.png) ;
  }
  nav  :nth-child(4) a:hover{
      background-image: url(../images/navart/fire/contact.png) ;
  }

  nav a:hover {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: transparent;
    background-color: inherit ;
  }

  .page-header{
    height: 93vh;
    background-attachment:fixed;/*Parallax for desktop*/
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 19px;
  }

  .header-content p {
    font-size: 2.0rem;
    text-shadow: 0 0 80px red;
  }
  
  .header-content h1 {
    font-size: 3.0rem;
    text-shadow: 2px 2px 0 red;
  }
  
  section{
    padding: 20px 25%;
  }

  section h2{
    font-size: 40px;
  }

  section#images h2{
    padding-right: 25%;
  }

  .image-gallery .container-content{
    width: 100%;
    padding: 0 8%;
  }

  .an-image{
    width: 25%;
  }

  .an-image:hover{
    width: 37.5%;
    transition: all 0.7s ease;
  }

  .image-caption p {
    font-size: 20px;
  }

  .image-info{
    display: block;
  }

  footer p {
    font-size: 24px;
  }

  .footer-content p {
    font-size: 18px;
  }

}
